.food-list {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .food-list {
    display: flex;
    width: 45%;
  }
}

.food-image {
  width: 180px;
  height: 150px;
  border-radius: 8px;
  margin-right: 10px;
}

@media screen and (min-width: 786px) {
  .food-image {
    width: 250px;
    height: 150px;
  }
}
